
/* fqa page css  start  */
.help-centre_wrapper__flzhz {
    background-color: #f9fafc;
    padding: 40px 0 0;
    overflow: hidden;
}
.help-centre_container__eofmo {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px 0;
}
.CategoryPicker_container__OXvYw {
    max-width: 1080px;
    margin: auto;
}
.CategoryPicker_categories__SSzk7 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.CategoryPicker_category__sz7t1 {
    width: 100%;
    flex-grow: 1;
    border: 1px solid #f2f2f2;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 -1px -1px 0;
    box-shadow: inset 0 0 0 1px #fff;
    transition: box-shadow .25s ease,border-color .25s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 14px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.CategoryPicker_category__sz7t1:first-of-type {
    border-radius: 10px 10px 0 0;
}
.CategoryPicker_icon__4MAGF {
    width: 40px;
    margin: 0 0 10px;
    flex-shrink: 0;
}
.CategoryPicker_count__xs33S {
    font-size: 12px;
    opacity: .5;
    margin-top: 4px;
}
.ManageBookingLogin_container__rwgJs {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    min-height: 550px;
    margin: 40px 0;
    background-color: #fff;
    flex-wrap: wrap;
    border: 1px solid #f2f2f2;
}
.ManageBookingLogin_column__WZ_Ss:first-of-type {
    position: relative;
    z-index: 1;
}
.ManageBookingLogin_column__WZ_Ss {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.ManageBookingLogin_form__OwUjD {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.ManageBookingLogin_form__title__6Xnx6 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.ManageBookingLogin_form__content__t7O3E {
    font-size: 14px;
    margin-bottom: 30px;
}
.TextInput_container__KcVcb, .TextInput_wrapper__uWefA {
    position: relative;
}

.TextInput_outer__Gco7M {
    position: relative;
    border-radius: 12px;
    border: 1px solid #eaeaea;
    width: 100%;
    display: flex;
}
.TextInput_inner__PwEjk {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    flex: 1 1;
}
.TextInput_text-input__W_lDp {
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    padding: 20px 20px 15px;
    font-family: inherit;
    font-size: 14px;
    transition: padding .1s;
    border: none;
    display: block;
}
.TextInput_label__qftt9 {
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #acb2c3;
    font-size: 14px;
    transition: top .25s ease,opacity .25s ease;
    pointer-events: none;
}
.TextInput_tooltip__jGgmZ, .TextInput_valid-icon__VoQW0 {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.TextInput_tooltip__button__tSUog {
    width: 20px;
    height: 20px;
    background-color: #ececec;
    border-radius: 10px;
    cursor: pointer;
}
.TextInput_tooltip__icon__AEbY3 {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.TextInput_validation-message__oTE_x {
    min-width: 0;
    font-size: 11px;
    min-height: 17px;
    color: red;
    margin-bottom: 3px;
    margin-right: 20px;
}

.Contact_container__2nRoV {
    margin: 40px auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    flex-direction: column;
}
.Contact_title__cVTPw {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 700;
}
.Button_button__L2wUb {
    background-color: #2563eb;
    color: #fff;
    padding: 0 20px;
    height: 44px;
    border-radius: 12px;
    font-weight: 400;
    display: inline-flex;
    transition: background-color .25s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
}

.help-centre_alert__f0eau {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Alert_alert__U03J1 {
    padding: 10.5px 15px;
    color: #dc2626;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.Alert_icon__x2hmA {
    width: 16px;
    height: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
}
.Hero_container__w4kjg {
    position: relative;
    background-color: #3d4047;
    padding: 40px 0 30px;
}
.Hero_inner__8VX_W {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 480px;
}
.Hero_title__ucbRX {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
}
.Search_wrapper__1i9k6 {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.Search_container__zUYzo {
    color: #000;
    height: 60px;
    position: relative;
}
.Search_input__WNYPa {
    padding: 0 20px 0 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: box-shadow .25s ease;
    font-size: 17px;
}
.Search_icon__ax3UX {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.Hero_items__UhfFI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Hero_item__zmQnt {
    background-color: #00000094;
    padding: 9px 15px;
    font-size: 12px;
    margin: 0 7px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 17px;
    transition: background-color .25s ease,box-shadow .25s ease;
    text-align: center;
}
.CategoryPicker_category--selected__1amkn, .CategoryPicker_category__sz7t1:focus {
    border-color: #fbbf24;
    box-shadow: inset 0 0 0 1px #fbbf24;
    outline: none;
    position: relative;
}
.CategoryPicker_category__sz7t1:hover {
    background-color: #fafafa;
}
.Accordion_container__BNIQO {
    margin: 0 0 20px;
}
.Accordion_category-open__Mu3ow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Accordion_arrow-down___6oNE {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}
.Accordion_icon__fVTQb {
    margin-bottom: 40px;
}
.Accordion_title__VTW1P {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.Accordion_accordion__RMPFG {
    width: 100%;
    margin-bottom: 40px;
}
.Faq_container__zHTpW:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Faq_container__zHTpW {
    border: 1px solid #e5e5e5;
    font-size: 14px;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
}
.Faq_header__caL05 {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 30px;
}
.Faq_left__ZUlSQ {
    flex: 1 1;
}
.Accordion_header__D72kC {
    display: flex;
}
.Accordion_subtitle__eWhML {
    font-weight: 700;
    margin-bottom: 10px;
}
.Accordion_info__Rf4ok {
    opacity: .5;
}
.Faq_chevron__gUXmt {
    width: 25px;
    height: 25px;
    transition: transform .5s ease;
}
.Collapse_container__b8tZ3 {
    transition: height .25s ease;
}
.Faq_content__NPbrC {
    padding: 15px 30px 0;
    line-height: 24px;
}
.Accordion_item__liScX p a {
    color: #2990e6;
    text-decoration: underline;
}
.Accordion_footer__J7xiG {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding-top: 30px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.Accordion_feedback-buttons__nRIgb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.Accordion_footer__text__o7_ra {
    font-weight: 700;
    transition: opacity .25s ease,transform .25s ease;
    width: 100%;
    margin: 0 5px 10px 0;
    text-align: center;
}
.Accordion_footer__button__myIaM {
    margin: 0 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: var(--border-radius);
    transition: opacity .25s ease,transform .25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}
.Accordion_feedback-buttons__completed__dXL5k {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    color: #059669;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease,transform .25s ease;
    transform: translateY(30px);
    justify-content: center;
}
.Pagination_container__hZ4Mt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.Pagination_item--hidden__qAKCZ {
    visibility: hidden;
    pointer-events: none;
}
.Pagination_item--hidden__qAKCZ {
    visibility: hidden;
    pointer-events: none;
}
.Pagination_item__I3pCs {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.Pagination_item--active__arbi1, .Pagination_item__I3pCs:hover {
    background-color: #fff;
}

.Pagination_item--active__arbi1 {
    font-weight: 700;
}
.Pagination_item__I3pCs svg {
    width: 16px;
    height: 16px;
}
/* fqa page css  end  */
