 .slider_flights_details {
     display: block;
 }

 .Dropdown_dropdown__YFvvQ {
     position: absolute;
     background-color: #fff;
     border-radius: var(--border-radius);
     box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
     top: -40px;
     left: -10px;
     width: 80vw;
     padding: 0 var(--spacing-small) var(--spacing-small) var(--spacing-small);
     z-index: 2;
     color: var(--color-type);
     max-width: 500px;
     opacity: 1;
     display: none;
     transform: translate(0px, 0px);
 }

 .datetimes {
     color: #fff;
     border: none;
     line-height: 0;
     padding: 0;
     height: 0;
 }

 .datetimes2 {
     color: #fff;
     border: none;
     line-height: 0;
     padding: 0;
     height: 0;
 }

 .daterangepicker.opensright:after {
     display: none;
 }

 .daterangepicker.opensright:before {
     display: none;
 }

 .HorizontalFlightSearch_submit__Pwl4r {
     background-color: #fbbf24;
     border-color: #fbbf24;
     color: #fff;
 }

 .HorizontalFlightSearch_add-flight__BEoAN {
     border-radius: 12px;
     color: #fbbf24;
     background: #eef3fd;
     border-color: #eef3fd;
     box-shadow: unset;
     outline: unset;
     margin: 0;
 }

 .HorizontalFlightSearch_submit__Pwl4r:hover {
     background-color: var(--color-horizontal-flight-search-primary-600);
     color: #fbbf24;
 }
 
#toasts {
    min-height: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 400px;
  }
  
  #toasts .toast {
    background: #d6d8d9;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    color: rgba(0,0,0, .6);
    cursor: default;
    margin-bottom: 20px;
    opacity: 0;
    position: relative;
    padding: 20px;
    transform: translateY(15%);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    width: 100%;
    will-change: opacity, transform;
    z-index: 1100;
  } 
  
  #toasts .toast.success {
    background: #26d68a;
  }
  
  #toasts .toast.warning {
    background: #ffa533;
  }
  
  #toasts .toast.info {
    background: #2cbcff;
  }
  
  #toasts .toast.error {
    background: #f44336;
  }
  
  #toasts .toast.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }
  
  #toasts .toast.hide {
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 30px;
    transition: all .5s ease-in-out;
  }
  
  #toasts .toast .close {
    cursor: pointer;
    font-size: 24px;
    height: 16px;
    margin-top: -10px;
    position: absolute;
    right: 14px;
    top: 50%;
    width: 16px;
  }
  